body {
  padding: 0;
  margin: 0;
  background-color: black;
  background-image: url("https://i.pinimg.com/originals/81/e2/d6/81e2d6d3ae4ca6e763633252e91a8dbb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.sodokuDiv {
  margin: 0 auto;
}

td {
  background-color: rgba(96, 129, 129, 0.4);

  color: whitesmoke;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
}

td:nth-child(3),
td:nth-child(6) {
  border-right: 4px solid black;
}

tr:nth-child(3),
tr:nth-child(6) {
  border-bottom: 4px solid black;
}
select {
  font-size: 20px;
}
